{% extends 'anime/base_template.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block style_file %}{% static 'css/style_profile.css' %}{% endblock %}

{% block content %}
    <form method="POST">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="loginInput" class="form-label">Логин</label>
                            <div class="input-group" id="loginInput">
                                <input type="text" class="form-control" value="{{ username }}">
                            </div>
                        </div>
                    </div>
                </div>
{#                <div class="row">#}
{#                    <div class="col">#}
{#                        <div class="form-group">#}
{#                            <label for="emailInput" class="form-label">Электронная почта</label>#}
{#                            <div class="input-group" id="emailInput">#}
{#                                <input type="text" class="form-control">#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row">#}
{#                    <div class="col">#}
{#                        <div class="form-group">#}
{#                            <label for="cityInput" class="form-label">Город</label>#}
{#                            <div class="input-group" id="cityInput">#}
{#                                <input type="text" class="form-control">#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <div class="row" style="margin-top: 10px">
                    <div class="col">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">Обновить</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="margin-top: 10px;">
                        <a href="{% url 'signout' %}" class="btn btn-danger btn-block">Выйти</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-6">
                <p>Аватар</p>
                <img src="../images/image.jpg" alt="..." width="200" , height="200">
                <div class="input-group">
                    <input type="file" class="form-control" id="inputGroupFile04"
                           aria-describedby="inputGroupFileAddon04" aria-label="Загрузка">
                </div>
            </div>
        </div>
    </form>
{% endblock %}